.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**********profile **************/
body {
  background-color: #ffffff;
}

h2,
h4,
.data {
  color: #000000;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/* this is to demonstrate how it will looks like if the sidebar  is included you can remove while merging the code */
/* .side-img {
  height: 50px;
  width:50px;

  border: 2px solid #c2bfbf;
  margin-right: 1.5em;
  color: #000000;
} */
img{
  height:200px;
  width:200px;
}

.main_data {
  width: 50%;
  margin-left: 7%;
}

.form-label-container {
  width: 90%;
  color: #000000;
  /* border: 1px solid #456576;
  border-top: 5px solid #456576;
  border-bottom: 15px solid #456576; */
  border-radius: 5px;
  padding: 1.5em 0.5em;
  margin-bottom: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.label-title {
  font-size: 1.3em;
}
.label-container {
  width: 100%;
  border: 1px solid #456576;
  padding: 0.5em 0;
  font-size: 1.4em;
}

/* input style */
input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 1em;
}
.form-statusbar {
  width: 90%;
  color: #000000;
  /* border: 1px solid #456576; */
  /* border-top: 5px solid #456576; */
  /* border-bottom: 15px solid #456576; */
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.btn {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-edit:hover {
  background-color: transparent;
  color: #000000;

  border: 1px solid #656565;
}

.btn-cancel {
  background-color: red;
  color: #fdfef8;
}

.btn-cancel:hover {
  background-color: rgb(196, 6, 6);
  color: #000000;
}

.btn-save {
  background-color: blue;
  color: #fdfef8;
}

.btn-save:hover {
  background-color: blueviolet;
  color: #fdfef8;
}

